@{
    ViewBag.Title = "About";
    ViewBag.Message = "Welcome to Zero Hunger Project";
}

<main aria-labelledby="title">
    <div class="text-center">
        <img src="../../Content/logo.png" alt="Project Logo" class="img-fluid mb-0" style="max-height: 150px;">
    </div>
    <h1 align="center">@ViewBag.Message</h1>
   
    <p>
        Zero Hunger is a project dedicated to reducing food wastage and ensuring that no one goes hungry.
        We believe that everyone deserves access to nutritious food, and our platform connects restaurants
        and NGOs to facilitate the donation of excess food to those in need. Together, we can make a difference
        in the fight against hunger and food insecurity.
    </p>
    <p style="font-weight: bold; text-align: center;">
        Please give your support and love. Thanks For Visiting Our Site<br><br>
        <span style="color: #444; font-size: 25px; font-weight: bold; text-align: center;">Have a nice day!</span>
    </p>


</main>
