@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Get in touch with us";
}

<main aria-labelledby="title">
    <div class="text-center">
        <img src="../../Content/logo.png" alt="Project Logo" class="img-fluid mb-0" style="max-height: 150px;">
    </div>
    <h1 align="center">@ViewBag.Message</h1>

    <p>If you have any questions, feedback, or inquiries, please feel free to contact us using the information below:</p>

    <address>
        Zero Hunger<br />        
        American International University-Bangladesh (AIUB)<br />
        <abbr title="Phone">Phone:</abbr> 123-456-7890
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:fahimwayez@gmail.com">Email</a><br />
        <strong>GitHub:</strong> <a href="https://www.github.com/FahimWayez">Github</a><br />
        <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/fahimwayez">LinkedIn</a><br />
        <strong>Facebook:</strong> <a href="https://www.facebook.com">Facebook</a>
    </address>
</main>
