@{
    ViewBag.Title = "Filter";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <h2 class="card-header text-center">@ViewBag.Title</h2>
                <div class="card-body">
                    <form action="/NGO/FoodCollection" method="get">
                        <div class="form-group" align="center">
                            <label for="filterSelect">Filter by Status:</label>
                            <select name="filter" id="filterSelect" class="form-control">
                                <option value="All">All</option>
                                @foreach (var status in ViewBag.statuses)
                                {
                                    <option value="@status.Name">@status.Name</option>
                                }
                            </select>
                        </div>
                        <br />
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-block">Search</button>
                        </div>
                        <a href="@Url.Action("Dashboard", "NGO")" class="btn btn-link mt-3">Back to Dashboard</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
