@{
    ViewBag.Title = "Education";
}

<div>
    <h2>My Education</h2>

    <table class="table table-bordered w-75 text-center">
        <thead>
            <tr>
                <th>Degree</th>
                <th>Year</th>
                <th>Institute</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BSc</td>
                <td>2021-Now</td>
                <td>American International University-Bangladesh (AIUB)</td>
            </tr>
            <tr>
                <td>HSC</td>
                <td>2020</td>
                <td>Ispahani Public School and College, Chittagong</td>
            </tr>
            <tr>
                <td>SSC</td>
                <td>2018</td>
                <td>Nasirabad Govt. High School, Chittagong</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Go Back</a>
</div>
