@{
    ViewBag.Title = "Introduction";
}

<div>
    <h2>Meet Me</h2>

    <table class="table">
        <tr>
            <td><strong>Name:</strong></td>
            <td>Fahim Wayez</td>
        </tr>
        <tr>
            <td><strong>ID:</strong></td>
            <td>21-44499-1</td>
        </tr>
        <tr>
            <td><strong>Git Profile:</strong></td>
            <td><a href="https://github.com/FahimWayez">GitHub</a></td>
        </tr>
        <tr>
            <td><strong>Email:</strong></td>
            <td>fahimwayez@gmail.com, 21-44499-1@student.aiub.edu</td>            
        </tr>
    </table>

    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Go Back</a>
</div>
