@{
    ViewBag.Title = "Personal Information";
}

<div>
    <h2>Personal Information</h2>

    <table class="table w-50 border-0">
        <tr>
            <th>Name</th>
            <td>:</td>
            <td>Fahim Wayez</td>
        </tr>
        <tr>
            <th>Father's Name</th>
            <td>:</td>
            <td>Mesbah Uddin Ahmed</td>
        </tr>
        <tr>
            <th>Mother's Name</th>
            <td>:</td>
            <td>Begum Shahan Waz</td>
        </tr>
        <tr>
            <th>Blood Group</th>
            <td>:</td>
            <td>O (-)ve</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>:</td>
            <td>+880-1739353505</td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>:</td>
            <td>23-12-2001</td>
        </tr>
    </table>

    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Go Back</a>
</div>
