@{
    ViewBag.Title = "Projects";
}

<div>
    <h2>My Projects</h2>

    <ul>
        <li>
            <a href="https://github.com/FahimWayez/UROJAHAJ"><strong>UROJAHAJ:</strong></a>
            <p>An Airline Management System<br />Language: PHP, JS, HTML, CSS, MySQL</p>
        </li>
        <li>
            <a href="https://github.com/FahimWayez/Distributed_Ledger_Validation"><strong>DLS:</strong></a>
            <p>A Distributed Ledger Validation System<br />Language: PHP, JS, HTML, CSS, MySQL</p>
        </li>
        <li>
            <a href="https://github.com/FahimWayez/DX_Ball-Game"><strong>DX Ball:</strong></a>
            <p>A DX Ball Game<br />Language: JS, HTML, CSS</p>
        </li>
        <li>
            <a href="https://github.com/FahimWayez/Farm_Management_System"><strong>Farm Management System:</strong></a>
            <p>A Farm Management System<br />Language: C#</p>
        </li>
        <li>
            <a href="https://github.com/FahimWayez/ShapChithi"><strong>Shapchithi:</strong></a>
            <p>A Chatting Application (Console)<br />Language: Python</p>
        </li>
        <li>
            <a href="https://github.com/FahimWayez/Airline-Management-System"><strong>Airline-Management-System:</strong></a>
            <p>An Airline Management System (Console)<br />Language: Java</p>
        </li>
    </ul>

    <h5>See more projects on my GitHub profile: <a href="https://github.com/FahimWayez">GitHub</a></h5>

    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Go Back</a>
</div>
