@{
    ViewBag.Title = "Reference";
}

<div>
    <h2>References</h2>

    <div class="row">
        <div class="col-md-6">
            <h3>Faculty 1</h3>
            <p>               
                Details
            </p>
        </div>

        <div class="col-md-6">
            <h3>Faculty 2</h3>
            <p>                
                Details
            </p>
        </div>
    </div>

    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Go Back</a>
</div>
