<h2>Login</h2>
<a href="/home/signup" class="btn btn-success">Sign Up</a>

<form>
    <input typeof="text" class="form-control" placeholder="Username"/>
    <input typeof="text" class="form-control" placeholder="Password"/>
    <a href="/home/submit" class="btn btn-primary"/>

</form>