﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>>
            <option selected disabled>Select</option>
            <option>Student</option>
            <option>Business</option>
        </select>

        Hobbies:
        <input type="checkbox" name="Hobbies[]" />Travelling
        <br />
        <input type="checkbox" name="Hobbies[]" />Sports
        <br />
        <input type="checkbox" name="Hobbies[]" />Music
        <br />
        <input type="checkbox" name="Hobbies[]" />Video Games        
        <br />
        <input type="submit" value="Sign Up" class="btn btn-danger" />Video Games        
    </form>
</main>